In [34]:
# Todays task :
#     q1 : Try to print a prime number in between 1 to 1000
#     q2 : Try to write a function which  is equivalent  to print function in python
#     q3 : Try to write a function which is a replica of list append , extend and pop function 
#     q4 : Try to write a lambda function which can return a concatination of all the string that we will pass
#     q5 : Try to write a lambda function which can return list of square of all the data between 1-100 
#     q6 : Try to write a 10 Different different example of lambda function with a choice of your taks 
#     q7 : Try to wwrite a funtion whihc can perform a read operation from .txt file 
        
#         shivan@ineuron.ai
        # sudhashu@ineuron.ai

In [140]:
print("Hello ")

Hello

In [141]:
#q1 Printing prime numbers between 1-1000
def prime_numbers(start,end):
    primes = []
    for i in range(start,end+1):
        if i > 1 :
            if(isPrime(i)):
                primes.append(i)
    
    return primes

def isPrime(n):
    for i in range(2,n):
        if n%i==0:
            return False
    
    return True

In [142]:
len(prime_numbers(1,1000))

168

In [143]:
#q2 Function equivalent to "print()"
def my_print(text):
    print(text)

my_print("ineuron")

ineuron

In [144]:
#q3 Function equivalent to list append
def list_append(element,my_list):
    """
        This method will append an element to a list
    """
    my_list.append(element)

In [145]:
my_list = [5,7]
list_append(2,my_list)

In [146]:
#q3 Function equivalent to list extend
def list_extend(list1,list2):
    for ele in list2:
        list_append(ele,list1)

    print(list1)

In [147]:
list_extend(['a','b','c'],[1,2,3])

['a', 'b', 'c', 1, 2, 3]

In [148]:
#q3 Function equivalent to list pop
def list_pop(l):
    last = l[-1]
    l.pop()
    print(l)
    return last

In [149]:
l3 = [1,2,3,4,"Haseeb"]
list_pop(l3)

[1, 2, 3, 4]

'Haseeb'

In [150]:
my_list

[5, 7, 2]

In [151]:
#q4 Lambda function to concat all strings passed
concat = lambda *x: ''.join(x)

In [152]:
concat('12','43','54')

'124354'

In [153]:
#q5 lambda function to find squares
squares = [(lambda x : x**2) (x) for x in range(1,100)]

In [154]:
#q6 Use case of lambda function (1)
print(list(map(lambda x:x**2,[1,2,3])))

[1, 4, 9]

In [155]:
#q6 Use case of lambda function (2)
list1 = [1,2,3,4,5,6,7]
list(filter(lambda x : x%2==0,list1))

[2, 4, 6]

In [156]:
#q6 Use case of lambda function (3)
multiply_by = lambda x,y : x*y

multiply_by(5,6)

30

In [157]:
#q7 To read a text file
with open('./test.txt','r') as file:
    print(file.read())

Hello world
ineuron